.bg-primary {
  background-color: #2196f3 !important;
}

.bg-header {
  background-image: url('../img/LeivaDuatlon.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.secNav {
  background-color: #015289 !important;
}

.secNav a {
	color: white;
	font-size: 2rem;
	font-family: 'Montserrat';
}

.evento {
  font-size: 2rem;
}

.divEvento{
  margin-top: 1rem;
}

.btn-outline-light {
  color: yellow;
  background-color: transparent;
  background-image: none;
  border-color: yellow;
}

.btn-outline-light:hover {
  color: #212529;
  background-color: yellow;
  /*border-color: yellow;*/
}

.btn-outline-light:focus, .btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: yellow;
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: yellow;
  /*border-color: yellow;*/
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.imgHeader {
  display: none;
}

@media (min-width: 768px) {
  .imgHeader {
  display: inline;
}

}