.div_crud {
	margin-top: 3rem;
}

.dropdown-menu a {
	color: white;
}

.dropdown-menu {
	background-color: #015289;
	border: none;
}

.dropdown-menu li:hover, .dropdown-menu li:focus, .dropdown-menu li:active {
  background-color: #18BC9C;
  border-color: #128f76;
}

.dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
  color: black;
}